
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.container {
    width: 80vw;
    margin-top: 45px;
    color: #3E1256;
    display: flex;
    justify-content: center;
    font-family: "Manrope", sans-serif;
}

.image {
    margin-right: 4px;
    margin-left: -55px;
}

.text {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: 600;
}
.par{
    font-size: 1.3rem;
    font-weight: 500;
}
.gif{
    background-color: rgb(101 175 229 / 18%);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 0px 20px 20px 20px;
    margin-top: 25vh;
}
.stories {
    font-size: 1.5rem;
    background-color: rgb(101 175 229 / 18%);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 20px;
    height: 90vh;
}