.frame {
    background-color: #72c4ff33;
    border-radius: 20px;
    height: 1033px;
    overflow: hidden;
    position: relative;
    width: 2104px;
}

.frame .overlap {
    height: 1033px;
    left: 93px;
    position: absolute;
    top: 0;
    width: 1924px;
}

.frame .paddle {
    background-color: #ffffff;
    border-radius: 100px;
    height: 300px;
    left: 37px;
    position: absolute;
    top: 38px;
    width: 30px;
}

.frame .div {
    background-color: #ffffff;
    border-radius: 100px;
    height: 300px;
    left: 1851px;
    position: absolute;
    top: 480px;
    width: 30px;
}

.frame .line {
    height: 975px;
    left: 959px;
    position: absolute;
    top: 27px;
    width: 6px;
}

.frame .overlap-group {
    height: 1033px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1924px;
}

.frame .img {
    height: 6px;
    left: 0;
    position: absolute;
    top: 14px;
    width: 1924px;
}

.frame .line-2 {
    height: 6px;
    left: 0;
    position: absolute;
    top: 1007px;
    width: 1924px;
}

.frame .line-3 {
    height: 1033px;
    left: 1911px;
    position: absolute;
    top: 0;
    width: 6px;
}

.frame .ellipse {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 0px 40px 20px #ffffff40;
    height: 60px;
    left: 1074px;
    position: absolute;
    top: 420px;
    width: 60px;
}

.frame .line-4 {
    height: 1033px;
    left: 87px;
    position: absolute;
    top: 0;
    width: 6px;
}
