@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.welcome_text{
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  color: rgba(62, 18, 86, 1);
}
.main-dashboard-page{
    margin-top: 20px;
    margin-left: 20px;
    width: 80vw;
    justify-content: center;
    align-items: center;
}
.dash_{
    gap: 150px;
}
.header_dashboard{
    margin: 0px 0px 30px 5px;
}
@media (max-width: 1200.98px) {
    .welcome_text{
        font-size: 22px;
      }
      .dash_{
          gap: 70px;
      }
}
@media (max-width: 1400px) {
    .main-dashboard-page .dash_{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-dashboard-page{
        justify-content: center;
        align-items: center;
    }
}
.Border1 {
    position: absolute;
    width: 86px;
    height: 97%;
    background-color: rgba(114, 196, 255, 0.28);
    border-radius: 60px;
    left: 29px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.Border2 {
    position: absolute;
    width: 86px;
    height: 97%;
    background-color: rgba(114, 196, 255, 0.28);
    border-radius: 60px;
    right: 29px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.SearchBarD {
    position: absolute;
  top: 25px; /* Adjust the top position as needed */
  right: 20px; /* Position in the center */
  transform: translateX(-50%);
  width: 550px; /* Adjust the width as needed */
  display: flex;
  align-items: center;
  padding: 0 50px; /* Adjust padding as needed */
  z-index: 4;
  }
  
  .SearchIcon {
    height: 25px; /* Adjust the size as needed */
    margin-right: 20px;
    margin-left: -30px;
  }
  
  .SearchInput {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    color: white;
    font-size: 18px; /* Adjust font-size as needed */
    font-weight: 600;
  }
  
  .SearchInput::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    font-weight: 600;

  }
  
  .WelcomeMssg {
    position: absolute;
    top: 30px;
    left: 150px;
    font:'Manrope', sans-serif;
    font-size: 35px;
    color: rgba(62, 18, 86, 1);
  }

  .Character{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: rgba(62, 18, 86, 1);
  }

  .CharacterBar {
    position: relative;
    margin-top: 20px;
    height: 300px;
    width: 550px;
    background-color: rgba(114, 196, 255, 0.2);
    border-radius: 20px;
  }
  .dash_games{
    width: 550px;
  }

  .CharacterBar p{
    position: absolute;
    top: 80px;
    left: 230px;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Manrope', sans-serif;
  }
  .DashLeft{
      position: absolute;
      height: 300px;
      left: 15px;
      top: 9px;
  }
  .DashRight{
      position: absolute;
      height: 300px;
      right: 10px;
      top: 8px;
  }
  .CharacterInfos{
      position: absolute;
      top: 170px;
      left: 140px;  
      height: 85px;
  }
  
  
  .NotificationBarD {
    position: absolute;
    width: 60px; 
    height: 60px; 
    top: 25px; 
    right: 360px;
    transform: translateX(50%, 50%);
    cursor: pointer;
  }

  .NotificationIcon {
    position: absolute; 
    width: 40px; 
    height: 40px; 
    top: 10px;
    right: 10px;
  }
  
  .TopFivePlayers{
    position: relative;
    color: rgba(62, 18, 86, 1);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 32px;
    height: 700px;
  }

    .Question{
        margin-top: 30px;
        margin-bottom: 15px;
        color: rgba(62, 18, 86, 1);
        font-family: 'Manrope', sans-serif;
        font-weight: 650;
        font-size: 28px;
    }

.GameModeBar h1{
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 20px;
    font-weight: 500;
}
.GameModeBar p{
    position: absolute;
    top: 70px;
    left: 10px;
    font-size: 11px;
}
.GameModeBar{
    position: relative;
    width: 170px;
    height: 170px;
    background-color: rgba(114, 196, 255, 0.2);
    border-radius: 20px;
    font-family: 'Manrope', sans-serif;
    color: rgba(62, 18, 86, 1);
}
.OnlinePic{
    position: absolute;
    right: -2px;
    height: 170px;
}
.OfflinePic{
    position: absolute;
    right: 0px;
    height: 170px;
}
.RobotPic{
    position: absolute;
    top: 30px;
    right: -10px;
    height: 140px;
}
.PlayNow {
    position: absolute;
    top: 120px;
    left: 10px;
    width: 150px;
    height: 39px;
    display: flex;
    border-radius: 14px;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-size: 11px;
    background-color: rgba(62, 18, 86, 0.4);
    backdrop-filter: blur(19px);
    color: white;
    z-index: 3;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.PlayNow:hover {
    background-color: rgba(62, 18, 86, 0.6);
}

.Top{
    position: absolute;
    top: 20px;
    left: 25px;
    height: 65px;
    width: 65px;
    border-radius: 15px;
    z-index: 1;
}

.TopFivePlayers h2{
    position: absolute;
    top: 20px;
    left: 115px;
    color: rgba(62, 18, 86, 1);
    font-size: 23px;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}
.TopFivePlayers p{
    position: absolute;
    top: 60px;
    left: 115px;
    color: rgba(62, 18, 86, 1);
    font-size: 15px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.AvatarContainer {
    position: relative;
    width: 490px;
    height: 100px;
    background-color: rgba(114, 196, 255, 0.2);
    border-radius: 20px;
    margin-top: 20px;
}

.Leaderboard{
    position: absolute;
    top: -5px;
    right: 10px;
    height: 120px;
}

@media (max-width: 770px) {
    .main-dashboard-page{
        width: 75vw;
    }
    
}