.containerGE {
    margin-top: 50px;
    color: #3E1256;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.containerGE .center{
    justify-content: center;
    align-items: center;
}
.containerGE h1{
    font-size: 35px;
    margin-bottom: 50px;
}

.containerGE .player-name{
    font-size: 11px;
}
.containerGE .score-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}