
.btn-home, .text {
    font-size: 24px;
}

.btn-home {
    display: flex;
    justify-content: center;
    background-color: #3E1256;
    color: #fff;
    box-shadow: 5px 5px 10px #00000040;
    padding: 9px 0px;
    border-radius: 7px;
    width: 300px;
    margin: 50px 0px 0px -30px;
    border: 2px solid #3E1256;
    border-radius: 10px;
}

.btn-home:hover {
    background-color: #ffffff00;
    color: #3E1256;
}

.logo-home {
    margin: 15px 5px 0px 15px;
    width: 160px;
}

.spin-smash {
    margin: 100px -40px 50px -30px;
}

.left-side {
    z-index: 1;
}


.right-side {
    margin: 0px 0px -20px -20px;
}

.text {
    color: #3E1256;
    margin: 0px -40px 0px -30px;
}

/* ----- XS ----- */
@media (max-width: 469.98px) {
    .home-page .grid-cols-3 {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .home-page .col-span-2 {
        display: none;
    }

    .logo-home {
        margin: 5px 5px 0px 0px;
        width: 40px;
    }

    .btn-home,
    .text {
        font-size: 16px;
    }

    .spin-smash {
        width: 270px;
        margin: 60px 0px 20px -40px;
    }

    .text {
        color: #3E1256;
        margin: 0px 0px 0px -40px;
    }

    .btn-home {
        margin: 20px 0px 0px -40px;
        width: 200px;
    }
}

/* ----- S ----- */
@media (min-width: 470px) and (max-width: 767.98px) {
    .home-page .grid-cols-3 {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .home-page .col-span-2 {
        display: none;
    }

    .logo-home {
        margin: 5px 5px 0px 0px;
        width: 50px;
    }

    .btn-home,
    .text {
        font-size: 19px;
    }

    .spin-smash {
        width: 370px;
        margin: 60px 0px 20px -40px;
    }

    .text {
        color: #3E1256;
        margin: 0px 0px 0px -40px;
    }

    .btn-home {
        margin: 20px 0px 0px -40px;
        width: 200px;
    }
}

/* ----- M ----- */
@media (min-width: 768px) and (max-width: 991.98px) {

    .btn-home,
    .text {
        font-size: 15px;
    }

    .btn {
        margin: 20px 0px 0px -30px;
        width: 180px;
    }

    .spin-smash {
        margin: 60px 0px 20px -30px;
    }

    .right-side {
        margin: -5px -5px -30px -30px;
    }
    .logo-home {
        width: 160px;
    }
}

/* ----- L ----- */
@media (min-width: 992px) and (max-width: 1299.98px) {

    .btn-home,
    .text {
        font-size: 19px;
    }

    .btn-home {
        margin: 25px 0px 0px -30px;
        width: 250px;
    }

    .spin-smash {
        margin: 90px 0px 25px -30px;
    }

    .right-side {
        margin: -5px -5px -30px -30px;
    }
    .logo-home {
        width: 160px;
    }
}