.PlayerProfile{
  color: #3E1256;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
}

.PlayerBar{
  position: relative;
  width: 1000px;
  height: 250px;
  background-color: rgba(114, 196, 255, 0.2);
  border-radius: 10px;
}

.Riri{
  position: absolute;
  top: 50px;
  left: 100px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #3E1256;
}

.PlayerName{
  position: absolute;
  top: 190px;
  left: 120px;
  color: #3E1256;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
}

.AddFriend{
  position: absolute;
  top: 95px;
  left: 280px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  background-color: rgba(61, 55, 133, 0.34);
  height: 50px;
  width: 150px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.AddFriend.r{
  top: 60px;
}
.AddFriend.s{
  top: 120px;
}

.LB {
  position: absolute;
  top: -10px;
  left: 630px;
  height: 210px;
}

.PLevelTube {
  position: absolute;
  top: 170px;
  left: 610px;
  display: flex;
  align-items: center;
}

.PLevelMarker {
  font-size: 13px;
  color: #3E1256;
  font-family: 'Manrope', sans-serif;
  margin: 0 20px;
}

.PTube {
  width: 270px;
  height: 15px;
  background-color: rgba(250, 231, 255, 0.60);
  border-radius: 10px;
  position: relative;
}
.PLevelProgress span{
  color: #3E1257;
  position: absolute;
  font-family: 'Manrope', sans-serif;
  font-weight: 200px;
  left: 130px;
  top: -3px;
  font-size: 14px;
}
.PLevelProgress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(213, 26, 183, 0.6);
  min-width: 2%;
  border-radius: 10px;
}

.PStats {
  position: absolute;
  top: 210px;
  left: 700px;
}

.PStatText {
  font-size: 17px;
  color: #3E1257;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  }

  .PAchievements{
      color: #3E1256;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Manrope', sans-serif;
  }

  .PAchievementBar{
      position: relative;
      width: 490px;
      height: 250px;
      background-color: rgba(114, 196, 255, 0.2);
      border-radius: 10px;
  }
  .PAchievementContainer span {
      position: absolute;
      top: 92%;
      font-size: 20px;
      color: #fff;
  }
  .PAchievementContainer .Achievement {
      max-height: 100%;
      width: 190px;
  }
  .PAchievementContainer {
      position: relative;
      top: -7%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

.PChevLeft {
  height: 40px;
}
.PChevLeftC {
  cursor: pointer;
  position: absolute;
  top: 43%;
  left: 15%;
  z-index: 2;
}
.PChevRight {
  height: 40px;
}
.PChevRightC {
  cursor: pointer;
  top: 43%;
  right: 15%;
  position: absolute;
}

  .PPL{
      color: #3E1256;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Manrope', sans-serif;
  }

  .PPLBar{
      position: relative;
      width: 490px;
      height: 250px;
      background-color: rgba(114, 196, 255, 0.2);
      border-radius: 10px;
      overflow-y: auto;
  }
  .PPLBar .play{
      position: relative;
      height: 90px;
    }
  @supports (-moz-appearance:none) {
      .PPLBar {
        scrollbar-width: thin;
        scrollbar-color: rgba(62, 18, 86, 0.5) rgba(0, 0, 0, 0);
      }
    }
    
    .PPLBar::-webkit-scrollbar {
      width: 4px;
      height: 0px;
    }
    .PPLBar::-webkit-scrollbar-thumb {
      background-color: rgb(62 18 86 / 50%);
      border-radius: 6px;
    }

    @media (max-width: 1214px)
    {
      .PlayerResp{
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 20px;
      }

      .PlayerBar{
        width: 500px;
        height: 600px;
      }

      .LB {
        top: 280px;
        left: 80px;
      }

      .PLevelTube {
        top: 480px;
        left: 60px;
      }

      .PStats {

        top: 530px;
        left: 145px;
        }

        .Profile{
          margin-bottom: 10px;
        }
    }