.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
  background: url('./assets/Background.png') center/cover no-repeat;
  z-index: 1;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 129, 160, 0.7), rgba(255, 151, 183, 0.7));
  filter: blur(5px);
  z-index: 0;
}

/* Girl image styling */
.GirlImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 1020px;
  height: 820px;
  z-index: 2;
}

/* Logo styling */
.LogoImage {
  position: absolute;
  left: 50px;
  top: 30px;
  width: 45px;
}

.TitleImage {
  position: absolute;
  left: 50px;
  top: 170px;
  width: 450px;
  height: 240px;
  z-index: 2;
}

.TextContainer {
  position: absolute;
  left: 50px;
  top: 520px;
  color: #3E1256;
  font-family: 'Yusei Magic';
  z-index: 3;
  font-size: 24px;
}

.GetStartedButton {
  position: absolute;
  left: 50px;
  top: 640px;
  background-color: #3E1256;
  color: white;
  /* border: none; */
  border-radius: 17px;
  padding: 12px 90px;
  cursor: pointer;
  font-family: 'Yusei Magic';
  font-size: 23px;
  z-index: 3;
}

body {
  margin: 0;
}

.TextLine {
  margin: 0;
}































