.Border1 {
    position: absolute;
    width: 86px;
    height: 97%;
    background-color: rgba(114, 196, 255, 0.28);
    border-radius: 60px;
    left: 29px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.Border2 {
    position: absolute;
    width: 86px;
    height: 97%;
    background-color: rgba(114, 196, 255, 0.28);
    border-radius: 60px;
    right: 29px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.HomeIcon {
    position: absolute;
    left: 40px;
    top: 210px;
    height: 57px;
}

.GameIcon {
    position: absolute;
    left: 46px;
    top: 290px;
    height: 53px;
}

.ChatIcon {
    position: absolute;
    left: 50px;
    top: 365px;
    height: 43px;
}

.SettingsIcon {
    position: absolute;
    left: 49px;
    top: 440px;
    height: 48px;
}

.InfosIcon {
    position: absolute;
    left: 48px;
    top: 520px;
    height: 47px;
}

.LogoutIcon {
    position: absolute;
    left: 48px;
    top: 715px;
    height: 60px;
}

.Avatar {
    position: absolute;
    top: 37px;
    height: 72px;
    right: 36px;
}

.Avatar2 {
    position: absolute;
    height: 70px;
    top: 170px;
    right: 99px;

}

.Avatar3 {
    position: absolute;
    height: 70px;
    top: 270px;
    right: 99px;

}

.Avatar4 {
    position: absolute;
    height: 70px;
    top: 370px;
    right: 99px;

}

.Avatar5 {
    position: absolute;
    height: 70px;
    top: 470px;
    right: 99px;

}

.Avatar6 {
    position: absolute;
    height: 70px;
    top: 570px;
    right: 99px;

}