.Profile {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
  background: url('./assets/Background.png') center/cover no-repeat;
  z-index: 1;

}

.Profile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 129, 160, 0.7), rgba(255, 151, 183, 0.7));
  filter: blur(5px);
  z-index: 0;
}

.ProfileTitle {
  position: absolute;
  left: 180px;
  top: 140px;
  font-size: 15px;
  color: #3E1256;
  font-family: 'Manrope', sans-serif;

  z-index: 2;
}

.ProfileBar {
  position: absolute;
  top: 80px;
  width: 320px;
  height: 220px;
  background-color: rgba(114, 196, 255, 0.2);
  border-radius: 10px;
  z-index: 2;
}

.CurrTitle {
  position: absolute;
  left: 180px;
  top: 450px;
  font-size: 15px;
  color: #3E1256;
  font-family: 'Manrope', sans-serif;
}

.CurrBar {
  position: absolute;
  top: 80px;
  width: 320px;
  height: 220px;
  background-color: rgba(114, 196, 255, 0.2);
  border-radius: 10px;
  overflow-y: auto;
}

.InterplaysList {
  padding: 10px;
  list-style-type: none;
  font-size: 14px;
  color: #3E1256;
  font-family: 'Manrope', sans-serif;
}

.InterplaysList li {
  margin-bottom: 10px;
}

.AchievementsTitle {
  position: absolute;
  right: 280px;
  top: 140px;
  font-size: 15px;
  color: #3E1256;
  font-family: 'Manrope', sans-serif;

  z-index: 2;
}

.AchievementsBar {
  position: absolute;
  top: 80px;
  width: 320px;
  height: 220px;
  background-color: rgba(114, 196, 255, 0.2);
  border-radius: 10px;
  z-index: 2;
}

.AchievementContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Achievement {
  max-height: 100%;
}

.ChevLeft {
  cursor: pointer;
  position: absolute;
  top: 50px;
  font-size: 24px;
  height: 35px;
  z-index: 2;
}

.ChevRight {
  cursor: pointer;
  top: 51px;
  right: 0px;
  height: 35px;
  position: absolute;
}

.FrLiTitle {
  position: absolute;
  left: 630px;
  top: 140px;
  font-size: 15px;
  color: #3E1256;
  font-family: 'Manrope', sans-serif;
}

.FrLiBar {
  position: absolute;
  top: 80px;
  width: 340px;
  left: -70px;
  height: 530px;
  background-color: rgba(114, 196, 255, 0.2);
  border-radius: 10px;
}

.AvatarPro {
  position: absolute;
  top: 230px;
  left: 250px;
  width: 60px;
  z-index: 2;
}

.ProfileName {
  position: absolute;
  top: 230px;
  left: 325px;
  font-size: 20px;
  color: #3E1256;
  font-family: 'Manrope', sans-serif;
  z-index: 2;
}

.LeaderboardPro {
  position: absolute;
  top: 275px;
  left: 260px;
  width: 130px;
  z-index: 2;
}

.LevelTube {
  position: absolute;
  top: 370px;
  left: 178px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.LevelMarker {
  font-size: 13px;
  color: #3E1256;
  font-family: 'Manrope', sans-serif;
  margin: 0 20px;
  z-index: 2;
}

.Tube {
  width: 200px;
  height: 15px;
  background-color: rgba(250, 231, 255, 0.60);
  border-radius: 10px;
  position: relative;
}

.LevelProgress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(213, 26, 183, 0.6);
  border-radius: 10px;
}

.Stats {
  position: absolute;
  top: 390px;
  left: 245px;
}

.StatText {
  font-size: 15px;
  color: #3E1257;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}

.FriendsList {
  padding: 10px;
  list-style-type: none;
}

.FriendsList li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.FriendAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.FriendName {
  flex: 1;
}

.CircleSettings {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.Separator {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 5px 0;
}

.PTtitle {
  position: absolute;
  right: 200px;
  top: 450px;
  font-size: 15px;
  color: #3E1256;
  font-family: 'Manrope', sans-serif;
}

.PTBar {
  position: absolute;
  top: 80px;
  width: 320px;
  height: 220px;
  background-color: rgba(114, 196, 255, 0.2);
  border-radius: 10px;
}

.LeftPlayer {
  position: absolute;
  top: 550px;
  right: 400px;
  display: flex;
  height: 50px;

  align-items: center;
}

.PlayerLeft p {
  position: absolute;
  font-size: 15px;
  top: 590px;
  right: 390px;
  font-family: 'Manrope', sans-serif;
  margin-right: 20px;
}

.Score {
  position: absolute;
  top: 570px;
  right: 280px;
  font-size: 20px;
  color: #3E1256;
  font-family: 'Manrope', sans-serif;
  margin: 0 20px;
}

.RightPlayer {
  position: absolute;
  top: 550px;
  right: 200px;
  display: flex;
  height: 50px;
  align-items: center;
}

.PlayerRight p {
  position: absolute;
  font-size: 15px;
  top: 590px;
  right: 190px;
  font-family: 'Manrope', sans-serif;
  margin-right: 20px;
}
