@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
    padding: 0px;
    color: #3E1256;
}

.login-page {
    margin: 10px 10px 0px 10px;
}

.justify-bottom {
    justify-content: flex-end;
}

@media (min-width: 1300px) {
    @media (max-height: 710px) {
        .justify-bottom {
            justify-content: flex-start;
        }
    }
}

.btn {
    padding: 10px 0px;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #00000050;
    border: 2px solid #3E1256;
    margin-top: 30px;
    font-size: 18px;
}

.btn:hover {
    background-color: #3E1256;
    color: #fff;
}

.logo {
    margin: 0px 5px 0px 0px;
    width: 40px;
}

.svg {
    display: inline;
    margin-left: 10px;
}

.t {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 32px;
    font-weight: 450;
    font-family: 'Yusei Magic', sans-serif;
}

/* ------------------------ Characters ------------------------ */

.left-character,
.right-character {
    width: 250px;
}

.middle-character {
    width: 300px;
}

.mc {
    justify-content: center;
    align-items: center;
}

/* ----- S ----- */
@media (max-width: 767.98px) {
    .grid-cols-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .left-character,
    .right-character {
        display: none;
    }

    @media (max-height: 620px) {
        .justify-bottom {
            justify-content: flex-start;
        }
    }
}

/* ----- M ----- */
@media (min-width: 768px) and (max-width: 991.98px) {
    .grid-cols-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .left-character {
        display: none;
    }

    .mb-9 {
        margin-bottom: 25px;
    }

    .btn {
        padding: 7px 0px;
        margin-top: 20px;
    }

    .title {
        font-size: 25px;
    }

    @media (max-height: 710px) {
        .justify-bottom {
            justify-content: flex-start;
        }
    }
}

/* ----- L ----- */
@media (min-width: 992px) and (max-width: 1299.98px) {

    .left-character,
    .right-character {
        width: 250px;
    }

    .middle-character {
        width: 300px;
    }

    .title {
        font-size: 23px;
    }

    @media (max-height: 630px) {
        .justify-bottom {
            justify-content: flex-start;
        }
    }
}