.sidebar-container {
	height: 96vh;
	width: 63px;
	background-color: rgba(115, 81, 170, 0.28);
	backdrop-filter: blur(5px);
	border-radius: 10rem;
	left: 1%;
	top: 2%;
  }
  
  .sidebar {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1vw;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  }
  
  .sidebar__top {
	width: 44px;
	gap: 16px;
	padding-bottom: 16px;
	margin-bottom: 90px;
	margin-top: 5px;
  }
  
  .sidebar__bottom {
	margin-top: 240px;
  }
  
  .sidebar__icon {
	width: 40px;
  }

  
  .Sidebar-container.left-side {
	overflow-y: auto;
  }
  
  .Sidebar-container.left-side::-webkit-scrollbar {
	width: 0px;
  }
  